Repository aholdt/csgo-analysis: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-func.yml, azure-pipelines.yml

azure-pipelines-func.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
        displayName: Install Node.js
      - script: 'npm ci
  
          cd functions
  
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
        displayName: Install Node.js
      - script: 'npm run build-prod
  
          '
        displayName: npm install and build
  ...

revert use of yarn
  azure-pipelines.yml
Due: none

Revert "update package.json with yarn cmds"
  package.json
Due: none

added webpack to functions so it can be deployed
  functions/host.json
  functions/package-lock.json
  functions/package.json
  functions/unparsed-demos-blobtrigger/function.json
  functions/webpack.config.js
Due: azure-pipelines-func.yml

Update azure-pipelines-func.yml for Azure Pipelines
  azure-pipelines-func.yml
Due: none

remove local.settings.from webpack config
  functions/webpack.config.js
Due: azure-pipelines-func.yml

use customconnstr for azure storage conn string
  functions/unparsed-demos-blobtrigger/function.json
Due: azure-pipelines-func.yml

Revert "use customconnstr for azure storage conn string"
  functions/unparsed-demos-blobtrigger/function.json
Due: azure-pipelines-func.yml

fix func webconfig build
  functions/package.json
  functions/unparsed-demos-blobtrigger/function.json
  functions/webpack.config.js
Due: azure-pipelines-func.yml

fix
  functions/unparsed-demos-blobtrigger/function.json
Due: azure-pipelines-func.yml

updated packages
  functions/package-lock.json
  package-lock.json
Due: azure-pipelines-func.yml

install mime-types
  functions/package-lock.json
  functions/package.json
Due: azure-pipelines-func.yml

made demoanappfunc a nest func
  apps/demoanapp/src/games/games.service.ts
  apps/demoanappfunc/host.json
  apps/demoanappfunc/local.settings.json
  apps/demoanappfunc/src/demoanappfunc.module.ts
  apps/demoanappfunc/src/function.json
  apps/demoanappfunc/src/gameinfo.repositoryitem.ts
  apps/demoanappfunc/src/index.ts
  apps/demoanappfunc/tsconfig.app.json
  functions/.funcignore
  functions/.gitignore
  functions/.vscode/extensions.json
  functions/package-lock.json
  functions/package.json
  functions/tsconfig.json
  functions/unparsed-demos-blobtrigger/app.module.ts
  functions/unparsed-demos-blobtrigger/index.ts
  functions/webpack.config.js
  nest-cli.json
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.js
Due: azure-pipelines-func.yml, azure-pipelines.yml

fix build and start scripts
  package.json
Due: none

fix pipeline for func
  azure-pipelines-func.yml
Due: none

Updated azure-pipelines-func.yml
  azure-pipelines-func.yml
Due: none

updated packages
  package-lock.json
  package.json
Due: none

added ignore files
  apps/demoanappfunc/.funcignore
  apps/demoanappfunc/.gitignore
  package-lock.json
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Deleted local.settings.json
  apps/demoanappfunc/local.settings.json
Due: azure-pipelines.yml

remove local settings from copy task
  webpack.config.js
Due: none

Revert "Deleted local.settings.json"
  apps/demoanappfunc/local.settings.json
Due: azure-pipelines.yml

Revert "remove local settings from copy task"
  webpack.config.js
Due: none

export differently
  apps/demoanappfunc/src/index.ts
Due: azure-pipelines.yml

try wihtout localsettings
  webpack.config.js
Due: none

rename to run
  apps/demoanappfunc/src/index.ts
Due: azure-pipelines.yml

add entrypoint run
  apps/demoanappfunc/src/function.json
Due: azure-pipelines.yml

fix webpack
  webpack.config.js
Due: none

add azure functions package
  package-lock.json
  package.json
Due: none

test - revert l8r
  .funcignore
  host.json
  local.settings.json
  main/function.json
  main/index.ts
  main/sample.dat
  package-lock.json
  package.json
  proxies.json
  src/main.azure.ts
Due: none

Path conditions:
  azure-pipelines-func.yml: any of: functions, libs
  azure-pipelines.yml: any of: apps, libs
